/*2 - Cor de fundo para toda a página*/
body {
    background-color: aliceblue;
}

/*1 - h1,li e p com tamanhos de fontes diferentes, sendo h1 centralizado e p e li com espaçamento de 2.*/
h1 {
    text-align: center;
    font-size: large;
}

p {
    font-size: small;
}

li {
    font-size: medium;
}

li, p {
    margin: 2px;
}

td, th {
    border: solid black 1px;
}

/*3 - classe com nome alinhado com os componentes em inline*/
.alinhado {
    display: inline;
}

/*4 - classe com nome bloco qye defube os componentes como bloco*/
.bloco {
    display: block;
}

/*5 - regras de css
• principal: Fonte Arial, negrito, itálico, tamanho 30px cor #280
• titulo: Fonte Arial, negrito, itálico, tamanho 15px, cor de fundo #FFF 
• origem: Fonte Arial, negrito, tamanho 20px, cor de fonte #280, cor de 
fundo #FFF 
• resumo: Fonte Arial, tamanho 12px, cor de fundo #FFF 
• rodape: Fonte Arial, negrito, tamanho 11px, texto centralizado, cor 
de fundo #CFB
• Tag <a>
• link: cor #0000FF 
• visited: cor #DDC71A 
• active: cor #AC0B44 
• hover: cor #FF0000, negrito
• tb1: com borda sólida, com espessura de 1px na cor preta, largura da 
tabela 766 pixel, altura da tabela 36 pixel, cor de fundo da tabela 
#000033
*/
.principal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #280;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    background-color: #FFF;
}

.origem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #280;
    background-color: #FFF;
}

.resumo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFF;
}

.rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    background-color: #CFB;
}

a:link {
    color: #0000FF;
}
a:visited {
    color: #c9b208;
}
a:link {
    color: #AC0B44;
}
a:link {
    color: #FF0000;
    font-weight: bold;
}

.tb1 {
    border: solid 1px black;
    border-collapse: collapse;
    width: 766px;
    height: 36px;
    background-color: #000033;
}

